# Compiled source #
###################
*.com
*.dll
*.exe
*.o
*.so
*.gch

*.sh

.deps/



config*
Make*
m4/
nbproject/
*~
make*
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS
/NEWS.en
/README
/aclocal.m4
/bootstrap
/stamp-h1
