# Compiled source #
###################
*.com
*.dll
*.exe
*.o
*.so
*.gch

*.sh
*.rcg
*.rcl

.deps/
src/Makefile
src/Makefile.in

Makefile
Makefile.in
Makefile.am
.cproject
.project
make*
autom4*
.directory
config*
Makefile
m4/
nbproject/
*~
NEWS
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS
/NEWS.en
/README
/aclocal.m4
/bootstrap
/stamp-h1
