# Compiled source #
###################
*.com
*.dll
*.exe
*.o
*.so
*.gch

*.sh

.deps/
src/Make*

.directory
config*
*Make*
*make
m4/
nbproject/
*~
NEWS
make*
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/NEWS
/NEWS.en
/README
/aclocal.m4
/bootstrap
/stamp-h1
